{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {% url 'posts:post_list' as the_url %}
    {% if request.get_full_path != the_url %}
    <meta name="description" content="{% block description %} {% endblock%}">
    <meta name="keywords" content="{% block keyword %} {% endblock%}">
    <title>{% block title %}{% endblock %}</title>
    {% else %}
    <meta name="description" content="Ini bukan tutorial yahh">
    <meta name="keywords" content="django, bootstrap, jquery, javascript, css, free template">
    <title>Bukan Tutorial</title>
    {% endif %}
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'css/normalize.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/vs.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body onload="getHighest()">
    <header>
        <div class="navbar-wrapper clearfix" id="navbar">
            <div class="logo">
                <a href="{% url 'blog:post_list' %}">BUKAN</a>
            </div>
            <div class="navbar-menu">
                <a href="#home">Home</a>
                <a href="#news">News</a>
                <a href="#contact">Contact</a>
                <a href="#about">About</a>
                <div id="search-top">
                    <form action="">
                        <input type="text" placeholder="Search.." name="search">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>

        </div>
    </header>
    <section id="main">
        <div class="container">
            <div class="row clearfix">
                <!-- all post -->
                <div class="col-9 col-md-12">
                    <div class="post-wrapper clearfix">
                        {% block main_content %}
                        {% endblock %}
                    </div>
                </div>
                {% include 'blog/sidebar.html' %}
                {% block sidebar %}
                {% endblock %}
            </div>
        </div><!-- End Container -->
    </section>


    <script>
        function myFunction() {
            var navbar = document.getElementById("navbar");
            var searchTop = document.getElementById("search-top")
            if (navbar.className === "navbar-wrapper clearfix") {
                navbar.className += " responsive";
                searchTop.style.display = "block";
            } else {
                navbar.className = "navbar-wrapper clearfix";
                searchTop.style.display = "none";
            }
        }

        function getHighest() {
            var i;
            var elmntListHeight = []
            var getElmnt = document.getElementsByClassName("artikel-info");
            for (i = 0; i < getElmnt.length; i++) {
                elmntListHeight.push(getElmnt[i].offsetHeight);
            }
            var maxHeight = Math.max(...elmntListHeight)
            for (i = 0; i < elmntListHeight.length; i++) {
                getElmnt[i].style.height = String(maxHeight - 30) + "px";
            }

        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
    </script>
</body>

</html>