{% extends 'blog/base.html' %}

{% block main_content %}
    <div class="categories">
        <h1>Category lists : </h1>
    </div>
    {% for category in categories %}
    <div class="col-12 col-md-12">
        <div class="artikel">
            <div class="artikel-info">
                <h1 class="h1-list-post"><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></h1>
            </div>
        </div>
    </div>
	{% endfor %}
{% endblock %}