{% extends 'blog/base.html' %}


{% block description %}{{ post.meta_description }}{% endblock %}
{% block keyword %}{{ post.meta_keyword }}{% endblock %}
{% block title %}Bukan Tutorial | {{ post.title }}{% endblock %}

{% block main_content %}
<div class="col-12">
    <div class="breadcrumb-wrapper">
        <ul class="breadcrumb">
            <li>
                <a href="{% url 'blog:post_list' %}">Home</a>
            </li>
            <li>
                <a href="{% url 'blog:post_list_by_category' slug=post.category.slug %}">Category</a>
            </li>
            <li>
                <a href="{{ post.category.get_absolute_url }}">{{ post.category.name }}</a>
            </li>
            <li>{{ post.title }}</li>
        </ul>
    </div>
</div>
<div class="col-12 post-detail-wrapper">
    <div class="artikel">
        <div class="feature-image">
            <img class="img-responsive" src="{{ post.featured_image.file.url }}">
        </div>
        <div class="artikel-info">
            <div class="post-title">
                <h1 class="h1-detail-post">{{ post.title }}</h1>
            </div>
            <div class="post-meta clearfix">
                <p class="nomargin-top">{{ post.published_date|date:"M d, Y" }}</p>
                <p class="nomargin-top">
                    <a class="btn btn-custom" href="{{ post.category.get_absolute_url }}">{{ post.category.name }}</a>
                </p>
            </div><!-- /post-meta-->
            <div class="post-content">
                {% load martortags %}
                <p>{{ post.content|safe_markdown }}</p>
            </div><!-- /isi-artikel -->
            <div class="tagged">
                </br>
                <p>Tags : </p>
                <p>
                    {% for tag in post.tag.all %}
                        <a class="btn btn-tags-item" href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
</div>


{% endblock %}