{% extends 'blog/base.html' %}

{% block main_content %}
{% if posts %}
    {% for post in posts %}
    <div class="col-6 col-md-12 post-list">
        <div class="artikel">
            <div class="post-thumbnail">
                <img class="img-responsive" src="{{ post.featured_image.file.url }}">
            </div><!-- /post-thumbnail -->

            <div class="artikel-info">
                <div class="post-title">
                    <h1 class="h1-list-post"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1>
                </div><!-- /post-title -->

                <div class="post-meta clearfix">
                    <p class="nomargin-top">{{ post.published_date|date:"M d, Y" }}</p>
                    <p class="nomargin-top">
                        <a class="btn btn-custom" href="{{ post.category.get_absolute_url }}">{{ post.category.name }}</a>
                    </p>
                </div><!-- /post-meta-->
                <div class="post-content">
                    {{ post.content|truncatewords:30 }}
                </div><!-- /isi-artikel -->
            </div>

        </div><!-- /artikel -->
    </div>
    {% endfor %}
{% else %}
<div class="col-12">
    <h1>"not found"</h1>
</div>
{% endif %}

{% if posts.has_other_pages %}
<div class="col-12 pagination">
        {% for i in posts.paginator.page_range %}
            {% if posts.number == i %}
                {% if posts.has_previous and posts.has_next  %}
                <ul>
                    <li>
                        <a href="?page={{ posts.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">Previous</a>
                    </li>
                    <li>
                        <a href="?page={{ i|add:-1 }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ i|add:-1 }}</a>
                    </li>
                    <li class="active">
                        <span>{{ i }}</span></li>
                    </li>
                    <li>
                        <a href="?page={{ i|add:1 }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ i|add:1 }}</a>
                    </li>
                    <li>
                        <a href="?page={{ posts.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">Next</a>
                    </li>
                </ul>

                {% elif posts.has_previous and not posts.has_next  %}
                <ul>
                    <li>
                        <a href="?page={{ posts.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">Previous</a>
                    </li>
                    {% if posts.paginator.num_pages > 2 %}
                    <li>
                        <a href="?page={{ i|add:-2 }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ i|add:-2 }}</a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="?page={{ i|add:-1 }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ i|add:-1 }}</a>
                    </li>
                    <li class="active">
                        <span>{{ i }}</span></li>
                    </li>
                </ul>
                
                {% else %}
                <ul>
                    <li class="active">
                        <span>{{ i }}</span></li>
                    </li>
                    <li>
                        <a href="?page={{ i|add:1 }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ i|add:1 }}</a>
                    </li>
                    {% if posts.paginator.num_pages > 2 %}
                    <li>
                        <a href="?page={{ i|add:2 }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ i|add:2 }}</a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="?page={{ posts.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">Next</a>
                    </li>
                </ul>
                {% endif %}
            {% endif %}
        {% endfor %}

</div>
{% endif %}
{% endblock %}