
{% block sidebar %}
    <!-- sidebar -->
    <div class="col-3 col-md-12">
        <div class="side-bar">
            <div class="side-bar-item">
                <div class="search">
                    <form method="GET" action="{% url 'blog:post_list' %}">
                        <input type="text" placeholder="Search.." name="search" value="{{ request.GET.search }}">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <div class="recent-post">
                    <div class="title-side-bar-item">
                        <h4>Recent Post</h4>
                    </div>
                    <div class="recent-post-item">
                        {% for recent in recent_posts %}
                            <p><a href="{{ recent.get_absolute_url }}">{{ recent.title }}</a></p>
                        {% endfor %}
                    </div>
                </div>
                <div class="category">
                    <div class="title-side-bar-item">
                        <h4>Category</h4>
                    </div>
                    <div class="category-item">
                        {% for category in categories_sidebar %}
                            <p><a href="{{ category.get_absolute_url }}">{{ category.name }} ( {{ category.counter }} )</a></p>
                        {% endfor %}
                    </div>
                </div>
                <div class="tags">
                    <div class="title-side-bar-item">
                        <h4>Tags</h4>
                    </div>
                    <div class="tags-item">
                        <p>
                            {% for tag in tags_sidebar %}
                                <a class="btn btn-tags-item" href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}