{% extends 'blog/base.html' %}

{% block main_content %}
    <div class="categories tags">
        <h1>Tags : </h1>
    </div>
    {% for tag in tags %}
    <div class="col-12 col-md-12">
        <div class="artikel">
            <div class="artikel-info">
                <h1 class="h1-list-post"><a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a></h1>
            </div>
        </div>
    </div>
	{% endfor %}
{% endblock %}