/* 
md = 950
sd = 750
xs = 500
*/
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #24271e;
}

pre {
    font-size: 15px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

a:hover {
    color: #2c7c2a;
}

.img-responsive {
    width: 100%;
    display: block;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #24271e;
}

.clearfix:after {
    clear: both
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table
}

.nomargin-top {
    margin-top: 0;
}

.container {
    max-width: 1270px;
    margin-left: auto;
    margin-right: auto;
}

.col-12 {
    width: 100%;
    float: left;
}

.col-9 {
    width: 75%;
    float: left;
}

.col-8 {
    width: 66.666667%;
    float: left;
}

.col-6 {
    width: 50%;
    float: left;
}

.col-4 {
    width: 33.333333%;
    float: left;
}

.col-3 {
    width: 25%;
    float: left;
}

/* Media MD */
@media screen and (max-width: 950px) {
    .col-md-12 {
        width: 100%;
        float: left;
    }
}

/* Media SD */
@media screen and (max-width: 750px) {
    .col-sd-12 {
        width: 100%;
        float: left;
    }
}

/* *************** Start HEADER *************** */
.navbar-wrapper {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: #24271e;
    padding: 6px 15px;
}

.navbar-wrapper a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}

.navbar-menu {
    float: right;
}

.navbar-menu a {
    font-weight: 700;
    ;
}

.navbar-menu a:hover {
    border-bottom: 2px solid #f2f2f2;
    padding-bottom: 12px;
}

.navbar-wrapper .icon {
    display: none;
}

#search-top {
    display: none;
}

#search-top input[type=text] {
    font-size: 15px;
    border: 1px solid #24271e;
    padding: 5px;
}

#search-top button {
    padding: 5px 10px;
    background: #2c7c2a;
    color: #f2f2f2;
    font-size: 17px;
    border: none;
    cursor: pointer;
}


@media screen and (min-width: 1200px) {
    .navbar-wrapper {
        max-width: 1170px;
    }
}

@media screen and (max-width: 950px) {
    .navbar-menu a {
        display: none;
    }

    .navbar-menu a:hover {
        border-bottom: none;
        background-color: #f2f2f2;
        color: #575a5b;
        padding-bottom: 14px;
    }

    .navbar-wrapper .icon {
        float: right;
        display: block;
    }

    .navbar-wrapper.responsive {
        position: relative;
    }

    .navbar-wrapper.responsive a {
        float: none;
        text-align: left;
    }

    .navbar-wrapper.responsive .navbar-menu,
    .navbar-wrapper.responsive .navbar-menu a {
        float: none;
        display: block;
        text-align: center;
    }

    .navbar-wrapper.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
}

.breadcrumb-wrapper {
    padding: 0 5px;
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #ffffff;
}

ul.breadcrumb li {
    display: inline;
    font-size: 13px;
}

ul.breadcrumb li+li:before {
    padding: 3px;
    color: black;
    content: "/\00a0";
}

ul.breadcrumb li a {
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    text-decoration: underline;
}

/*  *************** End HEADER *************** */
/*  ******************************************** */
/*  *************** Start POST LIST ************ */
#main {
    background-color: #f2f2f2;
}

.post-list {
    margin-bottom: 15px;
}

.categories,
.artikel {
    padding: 0px 5px 5px 5px;
}

.artikel-info {
    padding: 15px;
    background-color: #ffffff;
}

.h1-list-post {
    margin: 0;
    font-size: 19px;
}

.post-meta p {
    margin-top: 0;
    float: left;
    padding: 15px 9px 0 0;
}

.btn {
    border: 1px solid;
    border-radius: 5px;
    padding: 3px;
    font-size: 13px;
}

.btn-custom {
    border-color: #2c7c2a;
    color: #2c7c2a !important;
}

.btn-custom:hover {
    background-color: #2c7c2a;
    color: #f2f2f2 !important;
}

/*  *************** End POST LIST *************** */
/*  ******************************************** */
/*  *************** Start POST DETAIL ************ */

.post-detail-wrapper {
    margin-bottom: 15px;
}

.h1-detail-post {
    margin: 0;
    font-size: 23px;
}

/*  *************** End POST DETAIL *************** */
/*  ******************************************** */
/*  *************** Start SIDE BAR ************ */

.side-bar {
    padding: 15px;
    background-color: #ffffff;
}

.search {
    text-align: center;
}

.search form {
    position: relative;
}

.search input[type=text] {
    font-size: 15px;
    border: 1px solid #24271e;
    padding: 5px;
}

.search button {
    padding: 5px 10px;
    background: #2c7c2a;
    color: #f2f2f2;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 1115px) {
    .search button {
        position: absolute;
        right: 0;
        top: 0;
    }
}

@media screen and (max-width: 950px) {
    .search {
        display: none;
    }
}

.search button:hover {
    background: #3aa038;
}

.title-side-bar-item h4 {
    margin-top: 20px;
    margin-bottom: 5px;
}

.recent-post-item p {
    border-bottom: 1px solid #2c7c2a;
    margin: 0;
    padding: 5px 0;
}

.recent-post-item p:last-child {
    border-bottom: none;
}

.category-item p {
    line-height: 1.5;
    margin: 0;
    color: #2c7c2a;
}

.category-item p a:hover {
    color: #333333;
}

.tags-item {
    text-align: justify;
}

.btn-tags-item {
    border-color: #2c7c2a;
    color: #f2f2f2 !important;
    background-color: #2c7c2a;
    line-height: 2.35;
}

.btn-tags-item:hover {
    background-color: #3aa038;
    border-color: #3aa038;
}

/*  *************** End SIDE BAR *************** */
/*  ******************************************** */
/*  *************** Start PAGINATION ************ */
.pagination {
    text-align: center;
}

.pagination ul {
    display: inline-block;
    padding: 0;
    max-width: 395px;
}

.pagination ul li {
    list-style-type: none;
    color: #2c7c2a;
    float: left;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #2c7c2a;
    margin: 0 3px;
    background-color: #ffffff;
}

.pagination ul li.active {
    background-color: #2c7c2a;
    color: #ffffff;
    border: 1px solid #2c7c2a;
}

.pagination ul li a,
.pagination ul li span {
    display: block;
    padding: 5px 15px;
}

.pagination li:hover:not(.active) a {
    background-color: #2c7c2a;
    color: #ffffff;
}

/*  *************** End PAGINATION *************** */
/*  ******************************************** */
/*  *************** Start Markdown ************ */
.post-content code {
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27,31,35,.05);
    border-radius: 3px;
}

